@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Umbraco.Web
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc

@{
	Layout = "Master.cshtml";
}
<div class="container">
<h2>Member login page</h2>
	@Html.RenderJsHere()
	@if(!Members.GetCurrentLoginStatus().IsLoggedIn){
		@Html.Partial("login")
	}
else {
	@Html.Partial("logout")
}
</div>
