@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	<link rel="stylesheet" href="/Content/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

		<title>Aarhus Web Dev Coop</title>
	</head>
    <body>
		<header>
			@Umbraco.RenderMacro("MainMenu")
		</header>
        <h1>@Umbraco.Field("siteTitle")</h1>
		@Umbraco.Field("mainContent")
		
        	@RenderBody()
	
		<script src="/Scripts/jquery-3.1.0.slim.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>

        <script src="/Scripts/jquery.validate.min.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>
</html>