@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
<h2>@Umbraco.Field("projectTitle")</h2>
	
	@Umbraco.Field("projectBodyText")
	</div>