body { padding-top: 70px; }

.navbar .navbar-nav {
	display: inline-block;
	float:none;
}
.navbar .navbar-collapse {
	text-align:center;
}

img {
	max-width: 100%;
}
.container img{
	width:100%;
}
.Highlight, .Bannner, .None{

}
.Highlight.Grey{
    color:white;
    background-color: lightslategray;
}
.Highlight.Blue{
    color:white;
    background-color: darkslateblue
}
.Highlight.White{
    color:#333;
    background-color: ghostwhite;
}
.Banner{}
.Banner img{ width:100%;}
.None{}